Tests: timedated hostnamed localed-locale localed-x11-keymap logind
Depends: systemd-services, libpam-systemd, acl
Restrictions: needs-root

Tests: api
Depends: systemd-services, libpam-systemd, libsystemd-login-dev, build-essential, pkg-config
